.history_modal {
  .modal-content {
    background-color: transparent !important;
    border: none !important;
    border-radius: 20px !important;
    background: url("../../assets/img/bgimg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    position: relative;
    padding: 1rem 2rem;
    color: #fff;
    max-height: 80vh;
    overflow-y: auto;

    .modal-header {
      border-bottom: none;
      .btn-close {
        display: none;
      }
    }
  }
}
